@model IEnumerable<FIT5032_Assignment.Models.Hospital>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Hospital Page For Admin</h2>

<canvas id="myChart" width="400" height="200"></canvas>

<p>
    @Html.ActionLink("Create New Hospitals", "Create")
</p>
<table class="table" id="datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HospitalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HospitalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
    <p><a href="./Bookings/Index">View All the Booking</a></p>

    <p><a href="./UserRoles/Index">Manage Users Role </a></p>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#datatable").dataTable();
        })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>
    <script>
        var ctx = document.getElementById('myChart');

        var xhr = new XMLHttpRequest();
        xhr.open("GET", "BookEvents/Bar", false);
        xhr.send();
        var result = JSON.parse(xhr.responseText);
        console.log(result);
        // x label
        var x = [];

        //y count
        var y = [];

        for (var i = 0; i < result.length; i++) {
            x.push(result[i].Event.HospitalName);
            y.push(result[i].count);
        }

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: x,
                datasets: [{
                    label: 'The number of bookings this hospital',
                    data: y,
                    
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "The number of Bookings for each hospital",
                    fontSize: 20, 
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    </script>
}
